body{
    margin: 0%;
    padding: 0%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #edf1
}
/*presentacion*/
.presentacion5{
    padding-left: 20px;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
   
}
.presentacion5 h1{
    text-transform:uppercase;
    font-family: 'Times New Roman', Times, serif;
    
    
}
.presentacion5 h2{
    font-size: 20px;
    
}
/*Informacion lado izquierdo*/
.infoIzquierda{
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
    background: darkslategray;
    height: 100%;
    width: 400px;
    color: white;
}
.lineaVertical{
    border-left: thick solid white;
}
article h3{
    text-decoration: underline;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: black;
}
dt{
    font-size: 20px;
   
}
 article ol li{
    list-style: none;
    padding-right: 50px;
}
.infoDerecha{
    width: 300%;
    padding-top: 20px;
    text-align: center;
    padding-left: 100px;
}

/* * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.body {
	background-color: black;

}

$color1:white;
$ancho:100%;
$alto:100%;

ul {
	list-style: none;
}
i{
	color: black;
	align-items: flex-end;
}
a {
	text-decoration: none;
}


#paginaWeb {
	padding: 30px 50px;
	width: $ancho;
	height: 750px;
	background-color: #edf1fd;
}
 

.nav {
	display: flex;
	width: $ancho;
	text-transform: uppercase;
	font-family: calibri;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #F4F7FF;
	z-index: 1;
}
.menu {
	display: flex;
	
	
	
	
	

	li a {
		padding: 10px 15px;
		color: #6c707c;
		font-size: 18px;
	}
}

.presentacion {
	width: auto;
	font-size: 25px;
	font-weight: bold;
	color: #292929;
	padding-top: 10px ;
	padding-left: 10px;
}

.active a,
.menu li a:hover {
	background-color: #292929;
	color: $color1 !important;
	transition: all ease 0.4s;
}

.nombre {
	font-family: calibri;
	max-width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%, -50%);

	h2 {
		font-family: Poppins;
		font-size: 40px;
		margin: 0px;
		color: #292929;
	}

	a {
		font-size: 25px;
		color: #050a4d;
		text-decoration: none;
		border: 2px solid black;
	}

	a:hover {
		background-color: rgb(65, 9, 65);
		color: $color1;
		transition: all ease 0.3s;
	}

}



.detalles {
	color: black;
	font-size: 18px;
}








#sobreMi {
	width: $ancho;
	background-color: #161616;
	display: flex;
	justify-content: center;
	padding: 50px 5% 0px 5%;
	position: relative;
	flex-wrap: wrap;
}

.sobreMi--text {
	font-family: calibri;
	width: 50%;
	padding-top: 30px;

	h2 {
		font-size: 4rem;
		color: cornflowerblue;
		text-shadow: 2px 2px 2px blue;
	}

	h3 {
		font-size: 2rem;
		color: $color1;
		font-weight: 400;
	}

	h2,
	h3 {
		margin: 0px;
		padding: 0px;
	}

	p {
		font-size: 1.4rem;
		color: rgba(255, 255, 255, 0.90);
	}

}



ol li {
	list-style: none;
	text-transform: capitalize;
	color: $color1;
}

.informacion {
	
	color: $color1;

	div {
		color: yellow;
		text-align: center;
		text-transform: uppercase;
	}

	div p {
		color: $color1;
		text-transform: lowercase;
		text-align: center;
	}
}




#proyectos {
	background-color: rgb(197, 191, 204);
	width: $ancho;
	height: $alto;

	h2 {
		font-size: 50px;
		text-align: center;
		color: rgb(138, 24, 24);
		text-shadow: 2px 2px 2px red;
	}
}

.carousel-inner img {
	width: $ancho;
	height: $alto;


}

.sec {
	width: 40%;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;

}


.cartas {
	display: flex;
	justify-content: space-around;
	padding-top: 60px;
	flex-wrap: wrap;

}

.card {
	width: 20rem;

	img {
		object-fit:cover ;
		align-items: center;
		height: 300px;
		width: 300px;
	}
}




#contacto {
	width: $ancho;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	position: relative;
	padding: 20px 0px;
	bottom: 0px;
	box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);

	form {
		display: flex;
		max-width: 500px;
		background-color: #1A1A1A;
		box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
		border: 1px solid rgba(255, 255, 255, 0.01);
		flex-wrap: wrap;
	}
}

.escribeme {
	font-size: 2rem;
	color: $color1;
	font-family: calibri;
	margin: 10px;
	padding: 5px;

}





.contactame {
	width: 100%;
	height: $alto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto-right {
	width: 100%;
	height: $alto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255, 255, 255, 0.08);

	button {
		width: 100%;
		height: 30px;
		background-color: #63D9FF;
		font-weight: bold;
		color: #1B1B1B;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	textarea {
		width: 100%;
		height: 320px !important;
		border: none;
		outline: none;
		background-color: transparent;
		color: #EBEBEB;
		font-size: 16px;
	}
}

.name,
.email {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: calibri;
	text-align: center;

}

.name font,
.email font {
	color: #BFBFBF;
	font-size: 22px;
}

.name input,
.email input {
	height: 30px;
	width: 90%;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #929292;
	color: $color1;
	margin: 10px auto;
}



.mensaje {
	
	margin: 20px;

	font {
		font-size: 18px;
		color: $color1;
		font-family: calibri;
	}
}





.presentacion5 {
	height: 100px;
	width: $ancho;
	text-align: center;
	padding-top: 10px;

	h1 {
		text-transform: uppercase;
		font-family: 'Times New Roman', Times, serif;
	}

	h2 {
		font-size: 20px;
	}
}



.detalles3 {
	color: $color1;
}

.infoIzquierda {
	padding: 10px;
	text-align: center;
	background: rgb(9, 143, 143);
	height: $alto;
	width: 100%;
	color: $color1;
}

.lineaVertical {
	border-left: thick solid $color1;
}

article h3 {
	text-decoration: underline;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: black;
}

dt {
	font-size: 20px;

}

.infoDerecha {
	width: 900px;
	padding-top: 20px;
	text-align: center;
	padding-left: 10px;

	ul {
		list-style: circle;
	}
}
@media screen and (max-width:800px){
	
	.sec{
		width: 100%;
	}
	.infoDerecha{
		width: 100%;
	}
	.nav{
		height: 100%;
	}
	.menu{
		height: 100%;
	}
}
*/